<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<head>
    <title></title>
</head>
<body>
    <wicket:panel>
        <section id="content">
            <article>
                <div>
                    <h2>User List</h2>
                    <a class="button" style="margin-top:10px;" href="#">Create New User</a><br>
                    <table cellspacing="5px;" style="margin-top:20px;" id="userTable" cellpadding="5px;">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Update</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="user in users">
                            <td>{{user.name}}</td>
                            <td>{{user.description}}</td>
                            <td><a href="#" ng-click="initUpdateForm(user); crudPageCtrl.setPage('2');">Update</a></td>
                            <td><a href="#" ng-click="deleteUser(user)">Delete</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </article>
            </div>
        </section>
    </wicket:panel>
</body>
</html>

<!-- // Copyright (c) 2014 Shawn Wheeler All rights reserved.// -->